# SQL Server Configuration
SQL_SERVER=SQL_SERVER
SQL_DATABASE=SQL_DATABASE
SQL_USERNAME=SQL_USERNAME
SQL_PASSWORD=SQL_PASSWORD

# Snowflake Configuration
SNOWFLAKE_ACCOUNT=SNOWFLAKE_ACCOUNT  # Your account identifier
SNOWFLAKE_USER=SNOWFLAKE_USER             # Your login email/username
SNOWFLAKE_PASSWORD=SNOWFLAKE_PASSWORD         # Your password
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=SNOWFLAKE_DATABASE
SNOWFLAKE_SCHEMA=PUBLIC